[submodule "libsais"]
	path = libsais
	url = https://github.com/IlyaGrebnov/libsais
[submodule "googletest"]
	path = googletest
	url = https://github.com/google/googletest.git
[submodule "sdsl-lite"]
	path = sdsl-lite
	url = https://github.com/xxsds/sdsl-lite
[submodule "bit_vector"]
	path = bit_vector
	url = https://github.com/pasta-toolbox/bit_vector
